*scc
*.user
*.suo
*.iml
*.orig
*.diff
bin/
obj/
_ReSharper*
*resharper*
Thumbs.db
*.orig
*.nupkg
/packages/
Build/
/paket-files/
/Src/.vs/*
/Src/.idea/*
/Tools/OfficeDocToPdfConverter/.paket/paket.bootstrapper.exe
TestResults/