*scc
*.user
*.suo
*.iml
*.orig
*.diff
*.pdf
bin/
obj/
_ReSharper*
*resharper*
Thumbs.db
*.orig
*.nupkg
/packages/
Build/
/paket-files/
/.vs/*
/.idea/*
/Tools/OfficeDocToPdfConverter/.paket/paket.bootstrapper.exe
TestResults/